@import './scss/mixin.scss';
@import "./scss/dimensions.scss";

.table-type-label{
  @include unselectable;
  padding: 0.35em 0.45em;
  font-size: $small-text-font-size;
  display: inline-block;
  /* TODO: Force text to be one line only. Don't break with spaces. */
  border-radius: 0.3em;
  color: #fff;
}

.table-type-label-blue{
  background-color: #9FBAF7;
}

.table-type-label-green{
  background-color: #A7D6AA;
}

.table-type-label-gray{
  background-color: #CDCDCD;
}

.table-type-label-red{
  background-color: #ff8888;
}

.table-type-label-orange{
  background-color: #ff7c23;
}

.table-type-label-light-green{
  background-color: #E4E3BA;
}

